# --- DATA ---
data/
data-*/
datasets/
*.zip
*.tar.gz
*.jsonl
*.csv
*.bin

# --- MODELS, WEIGHTS & ML ARTIFACTS ---
*.pth
*.pt
*.ckpt
*.onnx
*.safetensors
outputs/
web/
wandb_logs/
wandb/

# --- BIO EXTRACTIONS ---
*.npy
*.npz
*.sqlite

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/
*.so
.env
.venv
env/
venv/
build/
dist/

# --- OS & IDE ---
.vscode/
.idea/